<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="all.css" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <button class="btn" @click="passwordCreate">產生新密碼</button>
      <br />
      {{ password }}
      <h2>選擇密碼長度</h2>
      <select name="" id="" v-model="length">
        <option v-for="list in lists" :value="list.value">{{ list.item}}</option>
      </select>
      <br />
      <h2>選擇密碼組數</h2>
      <select name="" id="" v-model="passwordAmounts">
        <option :value="item" v-for="item in 10">產生{{item}}組密碼</option>
      </select>
      <br />
      <h3>輸入大寫字母數量</h3>
      <input v-model="upperCount" type="number" />
      <h3>輸入小寫字母數量</h3>
      <input v-model="lowerCount" type="number" />
      <h3>輸入阿拉伯數字數量</h3>
      <input v-model="numberCount" type="number" />
      <h3>輸入特殊服號數量</h3>
      <input v-model="punctuationCount" type="number" />

      <h3 v-if="passwordResult.length != 0">新密碼</h3>
      <p v-for="item in passwordResult">{{item}}</p>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            password: "",
            lists: [
              { item: "6位數", value: 6 },
              { item: "8位數", value: 8 },
              { item: "10位數", value: 10 },
              { item: "12位數", value: 12 },
            ],
            upperCount: 0,
            lowerCount: 0,
            numberCount: 0,
            punctuationCount: 0,
            length: 0,
            passwordAmounts: 0,
            passwordResult: [],
          };
        },
        methods: {
          getRandomNum(min, max) {
            return min + Math.floor(Math.random() * (max - min + 1));
          },
          passwordCreate() {
            this.passwordResult = [];
            if (
              this.upperCount + this.lowerCount + this.numberCount + this.punctuationCount != this.length ||
              this.length === 0
            ) {
              alert("請輸入正確的密碼長度");
              return;
            }

            for (let i = 1; i <= this.passwordAmounts; i++) {
              console.log("apple");
              let number = this.passwordParts(48, 57, this.numberCount);
              let upper = this.passwordParts(65, 90, this.upperCount);
              let lower = this.passwordParts(97, 122, this.lowerCount);
              let punctuation = this.passwordParts(33, 47, this.punctuationCount);
              this.passwordResult.push(_.shuffle(number + upper + lower + punctuation).join(""));
            }
          },
          passwordParts(min, max, count) {
            let str = "";
            for (let i = 0; i < count; i++) {
              str += String.fromCharCode(this.getRandomNum(min, max));
            }
            return str;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
