<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>

    <div id="app">
      <div class="passwordArea">
        <div class="passwordSet">
          <button class="btn btnCreatePassword" @click="createPassword">產生新密碼</button>
          <br />
          <label for="length-select">選擇密碼長度</label>
          <select name="" id="length-select" v-model="length">
            <option v-for="list in lists" :value="list.value">{{ list.item}}</option>
          </select>
          <br />
          <label for="amounts-select">選擇密碼組數</label>
          <select name="" id="amounts-select" v-model="passwordAmounts">
            <option :value="item" v-for="item in 10">產生{{item}}組密碼</option>
          </select>
          <br />
          <label for="upperCount-select">輸入大寫字母數量</label>
          <input id="upperCount-select" v-model.number="upperCount" type="text" @input="validate($event)" />
          <label for="lowerCount-select">輸入小寫字母數量</label>
          <input od="lowerCount-select" v-model.number="lowerCount" type="text" @input="validate($event)" />
          <label for="numberCount-select">輸入數字數量</label>
          <input id="numberCount-select" v-model.number="numberCount" type="text" @input="validate($event)" />
          <label for="punctuationCount-select">輸入特殊符號數量</label>
          <input id="punctuationCount-select" v-model.number="punctuationCount" type="text" @input="validate($event)" />
        </div>
        <div>
          <h3 v-if="passwordResult.length != 0">新密碼</h3>
          <div v-for="item in passwordResult" class="passwordResult">
            <p>{{item.password}}</p>
            <div class="btn copyBtn" @click="clipboard($event, item)">複製密碼</div>
            <p v-show="item.success">已複製成功</p>
          </div>
        </div>
        <v-select :options="options">輸入</v-select>
      </div>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            lists: [
              { item: "6位數", value: 6 },
              { item: "8位數", value: 8 },
              { item: "10位數", value: 10 },
              { item: "12位數", value: 12 },
            ],
            upperCount: 0,
            lowerCount: 0,
            numberCount: 0,
            punctuationCount: 0,
            length: 0,
            passwordAmounts: 0,
            passwordResult: [],
            options: ['foo', 'bar', 'baz']
          };
        },
        components: {
          'v-select': window["VueSelect.VueSelect"]
        },
        methods: {
          getRandomNum(min, max) {
            return min + Math.floor(Math.random() * (max - min + 1));
          },
          createPassword() {
            this.passwordResult = [];
            if (
              this.upperCount + this.lowerCount + this.numberCount + this.punctuationCount != this.length ||
              this.length === 0
            ) {
              alert("請輸入正確的密碼長度");
              return;
            }
            for (let i = 1; i <= this.passwordAmounts; i++) {
              let number = this.passwordParts(48, 57, this.numberCount);
              let upper = this.passwordParts(65, 90, this.upperCount);
              let lower = this.passwordParts(97, 122, this.lowerCount);
              let punctuation = this.passwordParts(33, 47, this.punctuationCount);
              this.passwordResult.push(
                {
                  password: _.shuffle(number + upper + lower + punctuation).join(""),
                  success: false
                }
              );
            }
          },
          passwordParts(min, max, count) {
            let str = "";
            for (let i = 0; i < count; i++) {
              str += String.fromCharCode(this.getRandomNum(min, max));
            }
            return str;
          },
          validate($event) {
            $event.target.value = $event.target.value.replace(/^(0+)|[^\d]+/g, "");
          },
          clipboard($event, item) {
            navigator.clipboard.writeText(item.password);
            item.success = true;
            setTimeout(() => item.success = false, 1500);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
